version: '3'

networks:
  api-tests:
    driver: bridge

services:
  # Test Container for running tests locally
  local_tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    env_file:
      - dockertest.env
    depends_on:
      - dynamodb
      - pennsievedb
    environment:
      - POSTGRES_HOST=pennsievedb
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_ORGANIZATION_DATABASE=postgres
    volumes:
      - $PWD:/go/src/github.com/pennsieve/account-service
    networks:
      - api-tests

  # Test Container for Jenkins
  ci-tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    env_file:
      - dockertestCI.env
    depends_on:
      - dynamodb-ci
      - pennsievedb-ci
    environment:
      - POSTGRES_HOST=pennsievedb-ci
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_ORGANIZATION_DATABASE=postgres
    volumes:
      - $PWD:/go/src/github.com/pennsieve/account-service
    networks:
      - api-tests

  dynamodb:
    image: amazon/dynamodb-local
    restart: always
    volumes:
      - ./test-dynamodb-data:/home/dynamodblocal/data
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data/"
    networks:
      - api-tests

  dynamodb-ci:
    image: amazon/dynamodb-local
    restart: always
    volumes:
      - ./test-dynamodb-data:/home/dynamodblocal/data
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal/data/"
    networks:
      - api-tests

  pennsievedb:
    image: pennsieve/pennsievedb:V20230315145959-seed
    restart: always
    ports:
      - "5432:5432"
    networks:
      - api-tests

  pennsievedb-ci:
    image: pennsieve/pennsievedb:V20230315145959-seed
    restart: always
    networks:
      - api-tests
